* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  overflow: hidden;
}

button {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #f3387e;
  font-size: "Noto Sans", sans-serif;
}

input {
  height: 45px;
  width: 280px;
  border: 1px solid #8b8b8b;
  border-radius: 8px;
  font-weight: 500;
  padding-left: 10px;
  background-color: #f1f1f1;
}

.container {
  max-width: 300px;
  margin: 0 auto;
}

.page__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  align-items: center;
}

#welcome-page__inner_logo {
  margin-bottom: 70px;
}

#welcome-page__inner_image {
  margin-bottom: 80px;
}

#welcome-page__inner__button-box {
  display: flex;
  flex-direction: column;
}

#welcome-page__inner__button-box button {
  margin-bottom: 15px;
  color: white;
  height: 45px;
  width: 280px;
  box-shadow: 0 2px 10px 0 #676767;
}

#login-page__inner__login-block {
  margin-bottom: 100px;
}

#login-page__inner__login-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-page__inner img {
  margin-bottom: 30px;
}

#login-page__inner h2 {
  margin-bottom: 40px;
}

#login-page__inner__login-block div {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 30px;
}

#login-page__inner__login-block button {
  margin-bottom: 15px;
  color: white;
  height: 45px;
  width: 280px;
  box-shadow: 0 2px 10px 0 #676767;
}

#login-page__inner__login-block p:last-child {
  color: #46006c;
  font-size: 15px;
  font-weight: 600;
}

.onboarding__inner__clider {
  max-width: 300px;
}

.onboarding__inner__clider img {
  margin-bottom: 30px;
}

.onboarding__inner__clider h2 {
  margin-bottom: 10px;
}

.onboarding__inner__clider p {
  margin-bottom: 30px;
}

.onboarding__inner__clider__button-box {
  margin-bottom: 80px;
}

.but {
  background-color: transparent;
  border: 2px solid #f3387e;
  width: 15px;
  height: 10px;
  margin-right: 4px;
  margin-left: 4px;
}

.but-active {
  background-color: #f3387e;
  width: 70px;
}

.skipNext__button-box {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

#skip {
  color: #f3387e;
  padding: 10px 20px;
  background-color: transparent;
  font-weight: 600;
}

#next {
  color: white;
  padding: 10px 20px;
  background-color: #f3387e;
  border-radius: 30px;
  font-weight: 600;
}

.back-arrow {
  position: absolute;
  left: 2%;
}

#signin-page__inner__input-block {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}

#signin-page__inner__input-block h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

#signin-page__inner__input-block p {
  font-size: 15px;
}

#signin-page__email-block {
  margin-top: 20px;
}

#signin-page__password-block {
  margin-top: 20px;
}

#signin-page__password-block_confirm {
  margin-top: 20px;
  margin-bottom: 70px;
}

#signin-page__button-block {
  text-align: start;
}

#signin-page__button-block button {
  margin-bottom: 15px;
  color: white;
  height: 45px;
  width: 280px;
  box-shadow: 0 2px 10px 0 #676767;
  margin-top: 20px;
}
